.container.mt-4
    .row
        .col-md-6.offset-md-3
            %h1.text-center Edit news article
            %br
            %p
                Representative: #{@selected_representative.name}
            %p
                Issue: #{@selected_issue}
            %br

            = form_tag representative_new_my_news_item_path, method: :post do
                %p
                    Select an article:
                - @news_items.each do |article|
                    .card.mb-3
                        .card-header
                            %label.radio-container
                                = radio_button_tag 'title', article.title
                                = hidden_field_tag 'link', article.link
                                = hidden_field_tag 'description', article.description
                                = hidden_field_tag 'news_item[representative_id]', article.representative_id
                                = hidden_field_tag 'issue', @selected_issue
                                %strong= article.title
                        .card-body
                            %p
                                Link: #{link_to(article.link, article.link)}
                                %br
                                Description: #{article.description}
                    %br

                -# Dropdown for ratings
                %label{ for: 'ratings' }
                    Rating:
                = select_tag 'news_item[ratings][]',
                        options_for_select([1, 2, 3, 4, 5].map { |rating| [rating] }, selected: [3]),
                        class: 'form-control'
                %br

                -# Save button
                = submit_tag 'Save', class: 'btn btn-secondary mt-3'

                -# "View More Articles?" link
                = link_to 'View More Articles?',
                        representative_list_my_news_item_path(@selected_representative),
                        class: 'btn btn-secondary mt-3'
