.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center List news articles

    -# Display the selected Representative and Issue
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %p
            Representative: #{@selected_representative}
        %p
            Issue: #{@selected_issue}
        %p 
            Select an article:
        .radio 
            - @news_items.each do |item|
                %p
                %label 
                    .offset-md-1
                        %input{name: "news_item", type: "radio", value: "consumer"}
                        %p Title: #{item.title}
                        %p Link: #{link_to(item.link, item.link)}
                        %p Description: #{item.description}



